.tab {
  display: flex;
  justify-content: flex-start;
  flex-basis: 20%;
  margin: 2rem 4rem 0 4rem;
}

.tab h2 {
  padding: 1rem;
  margin: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  border-radius: 14px 14px 0 0;
  background-color: white;
  color: #035200;
}

.tab h2:hover {
  cursor: pointer;
  color: rgb(255, 223, 184);
}
