.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #012900;
  border: 1px solid #012900;
  color: rgb(255, 223, 184);
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #001700;
  border-color: #001700;
}
