@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

@layer base {
  :root {
    --bagel-gray: #383838;
    --bagel-light-gray: #f3f3f3;
    --bagel-brown-light: #f5f0e8;
    --bagel-brown-md: #d4a574;
    --bagel-brown-md-dark: #7a5125;
    --bagel-brown-dark: #3c2415;
    --bagel-brown-darker: #301d11;
  }

  html {
    @apply font-noto;
  }

  body {
    @apply m-0 bg-bagel-brown-light;
  }
}
